* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    border-top: 3px double #8c8b8b;
}

.card-deck {
    position: relative;
    height: 600px;
}

.display-5 {
    font-weight: bold;
}

footer {
    height: 100px;
    width: 100%;
    background-color: black;
    margin-top: 200px;
}

#ads {
   background-color: #ffdada;
   margin: 0 auto;
}

#slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}


